Source: phonon-backends
Section: sound
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Modestas Vainius <modax@debian.org>, Fathi Boudra <fabo@debian.org>
Build-Depends: cdbs (>= 0.4.51), debhelper (>= 7), quilt, cmake (>= 2.6.2), pkg-kde-tools (>= 0.4.2), automoc,
 libasound2-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
 libglib2.0-dev, libglu1-mesa-dev, libgstreamer-plugins-base0.10-dev, libgstreamer0.10-dev,
 libphonon-dev (>= 4:4.5.2), libqt4-dev (>= 4:4.5.2), libqt4-opengl-dev (>= 4:4.5.2),
 libxine-dev, libxml2-dev
Build-Conflicts: libxine2
Standards-Version: 3.8.2
Homepage: http://www.kde.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/trunk/packages/phonon/#_trunk_packages_phonon_
Vcs-Svn: svn://svn.debian.org/pkg-kde/trunk/packages/phonon

Package: phonon-backend-xine
Architecture: any
Provides: phonon-backend
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kde-icons-oxygen (<< 4:4.1.80)
Description: Phonon Xine 1.1.x backend
 Phonon is the Qt 4 multimedia API, which provides a task-oriented abstraction
 layer for capturing, mixing, processing, and playing audio and video content.
 .
 This package contains the Xine 1.1.x backend for Phonon.

Package: phonon-backend-gstreamer
Architecture: any
Provides: phonon-backend
Depends: ${shlibs:Depends}, ${misc:Depends},
 gstreamer0.10-plugins-base, gstreamer0.10-alsa
Recommends: gstreamer0.10-plugins-good
Suggests: gstreamer0.10-plugins-ugly
Description: Phonon GStreamer 0.10.x backend
 Phonon is the Qt 4 multimedia API, which provides a task-oriented abstraction
 layer for capturing, mixing, processing, and playing audio and video content.
 .
 This package contains GStreamer 0.10.x backend for Phonon.
 .
 You should install gstreamer0.10-plugins-good to get support for playing
 popular free multimedia formats and gstreamer0.10-plugins-ugly to get support
 for popular MPEG audio formats like MP3.

Package: phonon-backend-null
Architecture: all
Provides: phonon-backend
Depends: libphonon4
Conflicts: phonon-backend
Description: Phonon null backend (no real backend)
 Phonon is the Qt 4 multimedia API, which provides a task-oriented abstraction
 layer for capturing, mixing, processing, and playing audio and video content.
 .
 This package does not provide any real Phonon backend. It can be used to
 disable Phonon audio/video capabilities. Please note that Phonon behaviour 
 with this package installed has not been well tested.

Package: phonon-backends-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${sameVersionDep:libphonon4}, phonon-dbg
Suggests: phonon-backend-xine (= ${binary:Version}), phonon-backend-gstreamer (= ${binary:Version})
Description: debugging symbols for Phonon backends
 This package contains debugging files useful when investigating problems
 (e.g. crashes) with Phonon backends.
