#!/usr/bin/make -f
THIS_SHOULD_GO_TO_UNSTABLE=0

include debian/cdbs/kde.mk

#PHONON_MINIMUM_VERSION := 4:4.2.0
#DEB_DH_MAKESHLIBS_ARGS_libphonon4 = -V'libphonon4 (>> $(PHONON_MINIMUM_VERSION)), phonon(>> $(PHONON_MINIMUM_VERSION))'

DEB_DH_SHLIBDEPS_ARGS_ALL = -- -xphonon

binary-strip/libphonon4::
	pkgkde-symbolshelper symbolfile -p $(cdbs_curpkg) -o debian/$(cdbs_curpkg).symbols.$(DEB_HOST_ARCH)

binary-fixup/libphonon4::
	pkgkde-symbolshelper postgensymbols -p $(cdbs_curpkg) -v

clean::
	rm -f debian/libphonon4.symbols.$(DEB_HOST_ARCH)
